:root {
  --bg-color: #355592;
  --bg-color-2: #f1f8ff;
  --text-color: #25262b;
  --text-color-2: #494949;
  --color-white: #ffffff;
  --color-orange: #ee9d17;
  /* #F6F6F6 for gradiant */
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: none;
  outline: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
}

html {
  font-size: 90%;
  overflow-x: hidden;
}

body {
  color: var(--text-color-2);
  background-color: var(--color-white);
  height: 100dvh;
  a {
    text-decoration: none;
  }
  ul li {
    list-style: none;
  }
}

.sec-css {
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 5.5rem;
  margin-top: 1.5rem;
}
.h3-bg {
  color: var(--bg-color);
  font-weight: 800;
  font-size: 2rem;
}
.hr-orange {
  opacity: 1;
  width: 75px;
  height: 0.5em;
  color: var(--color-orange);
  background: var(--color-orange);
  margin: auto;
  border-radius: 0.3rem;
  margin-top: 0.9rem;
  margin-bottom: 2.5rem;
}
.p-css {
  font-weight: 700;
  color: var(--text-color-2);
  max-width: 565px;
  margin: auto;
  margin-bottom: 3rem;
}
