#review {
  background-color: var(--bg-color-2);
  padding-bottom: 6.5rem;
  .review-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6rem;
    justify-items: center;
    .review {
      max-width: 440px;
      text-align: left;
      .rev-profile {
        display: flex;
        gap: 0.5rem;

        img {
          max-width: 45px;
          max-height: 45px;
          border-radius: 50%;
          margin: 0 0.5rem 0 0;
        }
        p {
          font-weight: 600;
          margin-bottom: 0.8rem;
          .fw {
            font-size: 0.8em;
            font-weight: 500;
          }
        }
      }
      .rev-text {
        background-color: var(--bg-color);
        color: var(--color-white);
        padding: 0.6rem 1.5rem;
        font-size: 0.88em;
        font-weight: 500;
        position: relative;
      }
    }
    .rev1 {
      justify-self: end;
    }
    .rev2 {
      justify-self: start;
    }
  }
}

/* before & after */
#review {
  .rev-text {
    &::before {
      content: " ";
      background-color: var(--bg-color);
      opacity: 0.6;
      width: 7%;
      height: 30%;
      z-index: 3;
      position: absolute;
      left: 0;
      bottom: -30%;
      clip-path: polygon(0 0, 100% 0, 100% 100%);
      transform: scaleX(1);
    }
    &::after {
      content: " ";
      background-color: var(--bg-color);
      opacity: 0.6;
      width: 7%;
      height: 30%;
      z-index: 3;
      position: absolute;
      right: 0;
      bottom: -30%;
      clip-path: polygon(0 0, 100% 0, 100% 100%);
      transform: scaleX(-1);
    }
  }
}

/* 576px Media Query*/

@media (max-width: 576px) {
  #review {
    padding-left: 1rem;
    padding-right: 1rem;
    .review-container {
      grid-template-columns: 1fr;
      .review {
        place-self: center;
      }
    }
  }
}
