#trainers {
  background-color: var(--bg-color-2);
  padding-bottom: 2.5rem;
  .trainers {
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .img-container {
      position: relative;
      z-index: 2;

      /* blue box*/
      &::after {
        content: " ";
        position: absolute;
        background-color: var(--bg-color);
        width: 105%; /* 105%*/
        height: 110px;
        aspect-ratio: 105 / 110;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
      }
      &::before {
        content: " ";
        position: absolute;
        background-color: var(--bg-color);
        width: 110px;
        height: 20%;
        top: 8%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
      }
      .layer {
        position: absolute;
        bottom: -4%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 110px;
        height: 10px;
        background-color: var(--bg-color);
        z-index: -1;
      }

      img {
        max-width: 260px;
        border: 1px solid var(--color-orange);
        border-radius: 0.3rem;
      }
      .overlay {
        display: none;
        background-color: var(--bg-color);
        color: var(--color-white);
        padding: 1.5rem;
        clip-path: polygon(
          0% 15%,
          7% 15%,
          7% 0,
          93% 0,
          93% 15%,
          100% 15%,
          100% 85%,
          93% 85%,
          93% 100%,
          7% 100%,
          7% 85%,
          0% 85%
        );
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 95%;
        transition: all 0.4s ease;

        p {
          margin: 0px;
          padding: 0px;
          align-items: baseline;
          text-align: center;
          &:nth-child(1) {
            font-weight: 600;
          }
          &:nth-child(2) {
            font-size: 1rem;
            font-weight: 500;
          }
        }
      }
    }
    .img-container:hover {
      .overlay {
        display: block;
      }
      &::after {
        transform-origin: top;
        width: 105%;
        height: 152px;
        top: 47%;
        left: 50%;
        transform: translate(-50%, -33%);
        transition: all 0.4s ease;
      }
      .layer {
        position: absolute;
        bottom: -4%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 180px;
        height: 10px;
        background-color: var(--bg-color);
        transition: all 0.4s ease;
        z-index: -1;
      }
    }
  }
}

/* 576px Media Query*/

@media (max-width: 576px) {
  #trainers {
    padding-left: 1rem;
    padding-right: 1rem;
    .trainers {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      align-items: center;
    }
  }

  .img-container::after {
    aspect-ratio: 105 / 110;
  }
}
